<!--

    - Goals
    - Purposes
    - Quotes
    -->
<div class="goals">
    <span id="goals_title">Trek Goals (Chosen by Youth Committee members)</span>
    <ul>
        <li>
            <p>
                Experience what our ancestors did, and understand what it means to endure to the end.  Learn to honor and respect out pioneer heritage.
            </p>        
        </li>
        <li>
            <p>
                Gain a stronger testimony of Jesus Christ and the restored Gospel and recognize the blessing of faith in our lives.
            </p>        
        </li>
    </ul>
</div>
<div class="goals">
    <span id="goals_title">Purposes from Stake Leaders</span>
    <ul>
        <li>
            <p>
                Help the youth build their <b><b>testimonies</b></b>.
            </p>        
        </li>
        <li>
            <p>
                Learn of pioneer <b>heritage</b>.
            </p>        
        </li>
        <li>
            <p>
                Develop <b>friendships</b>.
            </p>        
        </li>
        <li>
            <p>
                Give the youth opportunities to <b>lead</b>.
            </p>        
        </li>
    </ul>
</div>
<div class="video">
    <iframe width="420" height="345"
            src="http://www.youtube.com/embed/4ia3gYSvG8M">
    </iframe>
</div>
<div class="video" style="margin-bottom: 30px;">
    <iframe width="420" height="345"
            src="http://www.youtube.com/embed/f8zNBQ8nkKw">
    </iframe>
</div>



    




