

body {
    background-color: #937E62;
}
#container
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-height: 900px;
    padding: 1px;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-position: center;
    
    background-image: linear-gradient(right bottom, rgb(217,216,206) 25%, rgb(201,191,189) 63%);
    background-image: -o-linear-gradient(right bottom, rgb(217,216,206) 25%, rgb(201,191,189) 63%);
    background-image: -moz-linear-gradient(right bottom, rgb(217,216,206) 25%, rgb(201,191,189) 63%);
    background-image: -webkit-linear-gradient(right bottom, rgb(217,216,206) 25%, rgb(201,191,189) 63%);
    background-image: -ms-linear-gradient(right bottom, rgb(217,216,206) 25%, rgb(201,191,189) 63%);

    background-image: -webkit-gradient(
	    linear,
	    right bottom,
	    left top,
	    color-stop(0.25, rgb(217,216,206)),
	    color-stop(0.63, rgb(201,191,189))
    );
}

#header 
{
    height: 130px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px;    
}

/****************************** Header *******************************/
/*Apply this class to some text to unlock the secrets of the third dimension!*/
.Three-Dee {
    font-family: Garamond, serif;
    line-height: 1em;
    color: #fff9d6;
    font-weight:bold;
    font-size: 50px;
    text-shadow:0px 0px 0 rgb(185,185,185),1px 1px 0 rgb(156,156,156),2px 2px 0 rgb(128,128,128),3px 3px 0 rgb(99,99,99),4px 4px 0 rgb(71,71,71), 5px 5px 0 rgb(43,43,43),6px 6px 5px rgba(0,0,0,0.6),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);
}


.subHeading {
    margin-left: 12px;
    font-size: 24px;
}

.glowshadow
{
    font-size: 19px;
    color: #333333;
    text-shadow: 0px 2px 3px #555555; 
}

#banner {
   
}
/*********************************************************************/

footer
{
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 960px;
    min-height: 30px;
}

.float-center {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

/***************** Menu Bar *******************************/
.navigation 
{
    float: right;
}

nav {
    background: #937E62;
    float: left;    
}

nav ul {
    text-align: center;
}

nav ul li {
    float: left;
    display: inline;
    font-weight: bold;
    text-decoration: none;
}

nav ul li:hover {
    background: #E6E6E6;
}

nav ul li a {
    display: block;
    padding: 5px 10px;
    color: #444;
    text-decoration: none;
}

nav ul li ul {
    position: absolute;
    width: 110px;
    /*background: #FFF;*/
    background-color: #E6E6E6;
    margin: 0 auto;
    padding: 0;
}

nav ul li ul li {
    width: 110px;
    margin-left: 0px;
    text-align: left;
   
    
}

nav ul li ul li a {
    display: block;
    padding: 10px 2px;
    color: #444;
    text-decoration: none;
    
}

nav ul li ul li:hover a {
    background: #F7F7F7;
}

nav ul li ul.fallback {
    display: none;
}

nav ul li:hover ul.fallback {
    display: block;
}
/*******************************************************/

.article {
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 720px;
    background-color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 12px;
    padding-top: 10px;
}

.article p {
    margin-right: 20px;
    margin-left: 20px;
}

#aside 
{
    
    float: right;
    width: 250px;
    min-height: 900px;
    margin-right: 10px;
    margin-top: 10px;
}

/*************** Index page *********************/
.goals 
{
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 670px;
    background-color: white;
    
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 12px;
    padding-top: 10px;
    
    font-family: georgia, serif;
    color: #2B2929;
    font-size: 12px;
    letter-spacing: 0pt;
    word-spacing: 1.0pt;
}

#goals_title 
{
    margin-left: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.goals ul {
    list-style-type: circle;
}

.goals p {
    text-align: left;
}

.important_documents 
{
    padding-top: 10px;
    margin-top: 0px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #94857B;
    padding-bottom: 20px;
}

.important_dates 
{
    padding-top: 10px;
    margin-top: 0px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #94857B;
}

.important_dates ul {
    list-style-type: none;
    line-height: 30px;
    padding-bottom: 10px;
    margin-left: 0px;
    font-size: 12px;
}

.important_dates div 
{
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    text-align: center;
    font-weight: bold;
    font-size: 24;
}

#document_heading {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    text-align: center;
    font-weight: bold;
    font-size: 24;
}



.important_dates ul li a {

    text-decoration: none;
    color: black;
}

.important_dates ul li a:visited {
    text-decoration: none;
    font: normal;
    color: black;
}


.video 
{
     border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    height: 400px;
    width: 475px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 100px;
    padding-top: 50px;
    background-color: black;
}

.video iframe {
    margin-left: 25px;
    margin-right: auto;
}

/***************Table Design*******************************************/
table 
{
    padding: 3px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 250px;
    padding-bottom: 10px;
}

tr {
    padding-bottom: 10px;
}

td 
{
    padding: 5px;
    background-color: #94857B;
}

th {
    text-align: left;
}









